.containerItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  border-radius: 7px;
  background-color: white;
  box-shadow: 2px 2px 5px #aaaaaa;
  margin-right: 15px;
  box-shadow: 1px;
  justify-content: center;
  align-items: center;
}

.containerbotao {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.botao {
  width: 50%;
  height: 50px;
  border: 0px;
  background-color: #dc3545;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

.botaoRedirect {
  width: 50%;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  border: 0px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 100px;
}

.container p {
  text-align: center;
}
